.Gist{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2px;
  background-color: #37393a;
  padding: 10px;
}

.Gist .item {
  text-align: center;
}

.Gist img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.Link {
  text-decoration: none;
  color: black;
}

