.Gist{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2px;
  background-color: #5291aa;
  padding: 10px;
  border-radius: 3px;
}

.Gist .item {
  text-align: center;
}

.Gist img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

span {
  background-color: white;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  border-radius: 10%;
}

.links{
  margin: 4px;
}

a:link, a:visited,a:hover,a:active {
  text-decoration: none;
  color: #ca10db;
  margin-right: 10px;
}


